.dialoghelp {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  height: 100%;
  width: 100%;

  background-color: white;
  opacity: 0.9;

  animation: onnopen 300ms ease 1  ;
}

.signinup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes onnopen {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.9;
  }
}



.SIheader {
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 5px 30px;
  box-sizing: border-box;

  top: 0;
}

.SIheader > nav {
  display: flex;
}

.SIheader > nav > span {
  display: flex;
  align-items: center;
  margin-right: 40px;
  cursor: pointer;
}

.SIheader > nav > span a {
  text-decoration: none;
  color: inherit;
}

.SIheader > nav > span > svg {
  margin-right: 5px;
}

.SIheader > nav > .account {
  text-transform: capitalize;
  background-color: var(--iconic-medium-color);
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 900;
  font-family: 'Titillium Web';
  font-size: 1.5em;

  color: #FFFFFF;

  border-radius: 50%;

  position: relative;
  cursor: pointer;

}


.yescolor {
  /* background-color: rgb(255, 253, 241); */
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.nocolor {
  /* background-color: white; */
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center; 
}

.header {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  width: 100%;

  padding: 15px 0;
}

.header nav {
  font-size: 1em;
  user-select: none;
}

.header nav > :nth-child(n) {
  font-family: 'Inter', sans-serif;
  cursor: pointer;
}

.header button {
  background-color: #242424;
  color: whitesmoke;
  padding: 8px 15px;

  border-radius: 30px;
  border: 0;
  font-size: 1em;
}

.header nav > :nth-child(1) {
  color: #242424;
  text-decoration: none;
}


.header > nav > :nth-child(n) {
  margin: 10px;
}

.header > nav a {
  text-decoration: none;
  color: inherit;
}


.art {
  min-height: 5vh;
  width: 100%;

  background: linear-gradient(to right, rgba(255, 255, 0, 0.1), rgba(255, 255, 0, 0.1), rgba(255, 208, 0, 0.1),rgba(255, 208, 0, 0.4),rgba(255, 166, 0, 0.6), rgba(255, 166, 0, 0.8)), url('../assets/noise.svg');
  filter: contrast(60%) brightness(140%) saturate(500%); 

  background-repeat: no-repeat;
  background-size: cover;

  border-top: 1px solid #242424;
  border-bottom: 1px solid #242424;

  box-sizing: border-box;


  color: black;

  position: relative;

  padding: 20px 0;
}

.art > .messageboard {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  color: black;
  font-size: 1em;
  font-weight: 500;
  font-style: bold;
  filter: none;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 10;

  mix-blend-mode: darken;
  /* filter: contrast(10000000000000000000%)  brightness(0%); */
}

.SIhp > .art {
  border: 0;
}

@media (max-width: 1200px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 600px) {
  .header, .SIheader {
    font-size: 0.75em;
    padding: 8px 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .header > nav > :nth-child(n), .SIheader > nav > :nth-child(n) {
    margin: 6px;
  }

  .art {
    font-size: 0.9em;
    background: linear-gradient(to right, rgba(255, 255, 0, 0.2), rgba(255, 255, 0, 0.2),rgba(255, 208, 0, 0.5),rgba(255, 166, 0, 0.7), rgba(255, 166, 0, 0.8));
  }

  .SIheader > nav > .account {
    width: 30px;
    height: 30px;
  }


}

@media (max-width: 400px) {
  .header, .SIheader {
    font-size: 0.65em;
    padding: 8px 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .header > nav > :nth-child(n), .SIheader > nav > :nth-child(n) {
    margin: 4px;
  }

  .art {
    font-size: 0.8em;
  }

  .SIheader > nav > .account {
    width: 25px;
    height: 25px;
  }

  .SIheader > nav > span > svg {
    height: 20px;
    width: auto;
    margin-right: 2px;
  }
  
}

