.myaccount {
  flex: 1 1 auto;
  width: 100%;
  max-width: 1336px;
  
  display: flex;
  justify-content: space-evenly;
}

.myaccount > main {
  max-width: 728px;
  min-width: 728px;
}

.myaccount > main > h1 {
  text-transform: capitalize;
  font-family: 'playfair display', sans-serif;
  font-weight: 600;
  font-size: 4em;
}

.account {
  text-transform: capitalize;
  background-color: black;
  width: 88px;
  height: 88px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-weight: 900;
  font-family: 'Titillium Web';
  font-size: 3em;
  
  color: #FFFFFF;
  
  border-radius: 50%;
}

.side {
  border-left: 1px solid var(--border-color);
  padding-left: 40px;
  padding-top: 60px;
  padding-right: 24px;
  min-width: 368px;
  max-width: 368px;
}

.side > button {
  border: 0;
  color: var(--iconic-medium-color);
  background-color: transparent;
  font-size: 1em;
  font-family: 'Inter tight', sans-serif;
  margin: 0;
  padding: 0;

  margin-top: 24px;
  margin-bottom: 24px;
}

.side > :nth-child(2) {
  margin-top: 16px;
  font-family: 'inter tight', sans-serif;
  font-size: 1.5em;
}

.side > button:hover {
  color: rgb(12, 109, 8);
}

.side > .edit label {
  display: flex;
  flex-direction: column;
  font-family: 'inter tight';
}

.side > .edit > form  input {
  width: 100%;
  background-color: rgb(242, 242, 242);
  border: 1px solid rgb(242, 242, 242);
  border-radius: 3px;
  padding: 8px;
  font-size: 15px;
  box-sizing: border-box;

  font-family: 'Inter tight';

  margin: 15px 0;
}

.side > .edit > form  input:focus {
  outline: 0px;
  border: 1px solid black; 
  background-color: rgb(250, 250, 250);
}

.side > .edit > form  input:invalid {
  border: 1px solid red;
}

.side > .edit > form button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  font-size: 1em;
  font-family: 'inter tight';

  margin-bottom: 15px;
}

.side > .edit > form button:hover {
  color: var(--iconic-medium-color);
}

.side > .edit > button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 1em;
  font-family: 'inter tight';
  padding: 0;

  color: rgb(128, 1, 1);
  margin-bottom: 15px;
}

.on {
  visibility: visible;
}

.off {
  visibility: hidden;
}

.side > .message {
  background-color: var(--iconic-medium-color);
  width: 100%;
  padding: 10px;
  color: white;
  box-sizing: border-box;
  text-align: center;
  opacity: 0.7;
  font-size: 1.2em;
  font-weight: 500;
  font-family: 'inter tight';
  border-radius: 3px;
  visibility: hidden;
}

@media (max-width: 1300px) {
  .myaccount {
    max-width: 100%;
  }
  
  .myaccount > main {
    max-width: 100%;
    min-width: 0;
  }

  .side {
    padding-right: 0px;
    min-width: 0;
    max-width: 100%;
  }
  
}

@media (max-width: 900px) {
  .myaccount {
    max-width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  .myaccount > main {
    max-width: 100%;
    min-width: 0;
    font-size: 0.9em;
  }

  .side {
    padding-right: 0px;
    min-width: 0;
    font-size: 0.9em;
    max-width: 100%;
    padding-left: 20px;
  }
  
}

@media (max-width: 760px) {
  .myaccount {
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding: 20px;
  }

  .off {
    display: none;
  }

  .on {
    display: block;
  }

  .side {
    padding: 0;
    border: 0;
    margin: 0;
  }

  .myaccount > main > h1 {
    display: none;
  }

  .side > :nth-child(2) {
    margin-top: 0;
    font-family: 'inter tight', sans-serif;
    /* text-transform: capitalize; */
    font-size: 3em;
    display: inline;
    margin-left: 20px;
  }

  .account {    
    display: inline-flex;
    height: 70px;
    width: 70px;
  }

  .side > button {
    margin-bottom: 10px;
    display: block;
    font-size: 1.3em;
  }

  .side > .message {
    margin: 15px 0;
  }
}

