
.posterror {
  font-size: 1em;
  margin: 0;
  color: rgb(189, 189, 189);
  font-family: 'Inter Tight', sans-serif;
}

.posts {
  flex: 1 1 auto;
  border-right: 1px solid var(--border-color);
  padding-right: 50px;
  padding-top: 50px;
}

.post {
  border-top: 1px solid var(--border-color);
  max-width: 680px;
  padding: 32px 0;

  cursor: pointer;
}

.post > :nth-child(1) {
  text-transform: capitalize;
  font-size: 0.8em;
  font-family: 'inter tight', sans-serif;
}

.post > h3 {
  font-family: 'Playfair display', serif;
  font-size: 2em;
  margin: 5px 0;
  font-weight: 500;
}

.post > p {
  font-family: 'Titillium Web';
  font-size: 1.1em;
  margin: 0;
  margin-bottom: 20px;
}

.post > div {
  display: flex;
  font-size: 0.8em;
  font-family: 'inter tight', sans-serif;
  align-items: center;
}

.post > div > :nth-child(n) {
  margin-right: 15px;  
}

.post > div > div {
  display: flex;
  align-items: center;
}

.post > div svg {
  fill: #8f8f8f;
  height: 12px;
  width: 12px;
  margin-left: 2px;

}
