.post header {
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 5px 30px;
  box-sizing: border-box;
}

.post header > nav {
  display: flex;
}

.post header > nav > span {
  display: flex;
  align-items: center;
  margin-right: 40px;
  cursor: pointer;
}

.post header > nav > span a {
  text-decoration: none;
  color: inherit;
}

.post header > nav > span > svg {
  margin-right: 5px;
}

.post header > nav > .account {
  text-transform: capitalize;
  background-color: var(--iconic-medium-color);
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 900;
  font-family: 'Titillium Web';
  font-size: 1.5em;

  color: #FFFFFF;

  border-radius: 50%;

}

.art {
  height: 5vh;
  width: 100%;

  background: linear-gradient(to right, rgba(255, 255, 0, 0.1), rgba(255, 255, 0, 0.1), rgba(255, 208, 0, 0.1),rgba(255, 208, 0, 0.4),rgba(255, 166, 0, 0.6), rgba(255, 166, 0, 0.8)), url('../assets/noise.svg');
  filter: contrast(60%) brightness(140%) saturate(500%); 

  box-sizing: border-box;


  color: black;

  position: relative;
}

.art > .messageboard {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  color: black;
  font-size: 1em;
  font-weight: 500;
  font-style: bold;
  filter: none;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 10;

  mix-blend-mode: darken;
  /* filter: contrast(10000000000000000000%)  brightness(0%); */
}
