.selector {
  width: 100%;
}

.selector > :nth-child(1) {
  width: inherit;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--border-color);
}

.selector > :nth-child(1) > span {
  margin-right: 20px;
  color: #909090;
  font-family: 'inter tight', sans-serif;
  user-select: none;
  cursor: pointer;
  position: relative;
}

.selector > :nth-child(1) > span > div {
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: black;
  top: calc(100% + 20px);
  left: 0;
  visibility: hidden;
}

.selector > :nth-child(1) > .selected {
  color: #242424;

}

.selector > :nth-child(1) > .selected > div {
  visibility: visible;
}

.post {
  border-bottom: 1px solid var(--border-color);
  max-width: 680px;
  padding: 32px 0;

}

.post > span:nth-child(1) {
  text-transform: capitalize;
  font-family: 'inter tight', sans-serif;
  font-size: 0.8em;
}

.post > h3 {
  font-family: 'Playfair display', serif;
  font-size: 2em;
  margin: 5px 0;
  font-weight: 500;
  cursor: pointer;
}

.post > p {
  font-family: 'Titillium Web';
  font-size: 1.2em;
  cursor: pointer;
  color: #707070;
  margin: 0;
}

.post > .poststat {
  margin-top: 20px;
  display: flex;
  font-size: 0.8em;
  cursor: pointer;
  align-items: center;
}

.post > .poststat > :nth-child(n), .post > .postmanage > :nth-child(n) {
  margin-right: 20px;  
}

.post > .poststat > div {
  display: flex;
  align-items: center;
}

.post > .poststat svg {
  fill: #8f8f8f;
  height: 14px;
  width: 14px;
  margin-left: 2px;
}

.post > .postmanage {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row-reverse;
  cursor: default;
}

.post > .postmanage > :nth-child(n) {
  border: 0;
  background-color: transparent;
  padding: 0;
  font-size: 1em;
  font-family: 'inter tight', sans-serif;
}

.post > .postmanage > :nth-child(1):hover {
  color: rgb(138, 0, 0);
}

.post > .postmanage > :nth-child(2):hover {
  color: var(--iconic-medium-color);
}

.comment {
  display: flex;
  flex-direction: column;

  border-bottom: 1px solid var(--border-color);

  padding: 20px 0;

  font-size: 0.8em;
}

.account {
  text-transform: capitalize;
  background-color: black;
  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 900;
  font-family: 'Titillium Web';
  font-size: 1.2em;

  color: #FFFFFF;

  border-radius: 50%;

  margin-right: 8px;

}

.comment > :nth-child(1) {
  display: flex;
  align-items: center;
}

.comment > :nth-child(1) > :nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comment > :nth-child(1) > :nth-child(2) > :nth-child(1) {
  font-family: 'Inter tight';
  font-weight: 400;
  font-size: 1.2em;
}

.comment > :nth-child(1) > :nth-child(2) > :nth-child(2) {
  font-family: 'Inter tight';
  font-size: 1em;
  color: rgb(168, 168, 168);
}

.comment > main {
  font-size: 1.3em;
  font-family: 'Inter tight';
  padding: 0;
  margin-top: 5px;
}

.comment > :nth-child(3) {
  display: flex;
  align-items: center;
}

.comment > :nth-child(3) > div {
  display: flex;
  align-items: flex-end;
  font-size: 1.05em;
  margin-right: 20px;
  margin-top: 15px;

}

.comment > :nth-child(3) > div > svg {
  height: 18px;
}

@media (max-width: 900px) {
  .selector > :nth-child(1) > span {
    margin-right: 10px;
  }
}

@media (max-width: 472px) {
  .selector > :nth-child(1) > span {
    font-size: 0.8em;
  }
  
}

@media (max-width: 400px) {
  .selector > :nth-child(1) > span {
    font-size: 0.7em;
  }
}
