.selector {
  width: 100%;
}

.selector > :nth-child(1) {
  width: inherit;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--border-color);
}

.selector > :nth-child(1) > span {
  margin-right: 20px;
  color: #909090;
  font-family: 'inter tight', sans-serif;
  user-select: none;
  cursor: pointer;
  position: relative;
}

.selector > :nth-child(1) > span > div {
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: black;
  top: calc(100% + 20px);
  left: 0;
  visibility: hidden;
}

.selector > :nth-child(1) > .selected {
  color: #242424;

}

.selector > :nth-child(1) > .selected > div {
  visibility: visible;
}

.post {
  border-bottom: 1px solid var(--border-color);
  max-width: 680px;
  padding: 32px 0;

  cursor: pointer;
}

.post > :nth-child(1) {
  text-transform: capitalize;
}

.post > h3 {
  font-family: 'Playfair display', serif;
  font-size: 2.5em;
  margin: 5px 0;
  font-weight: 200;
}

.post > p {
  font-family: 'Titillium Web';
  font-size: 1.3em;
  margin: 0;
  margin-bottom: 30px;
}

.post > div {
  display: flex;
}

.post > div > :nth-child(n) {
  margin-right: 20px;  
}

.post > div > div {
  display: flex;
  align-items: center;
}

.post > div svg {
  fill: #aaaaaa;
  height: 20px;
  width: 20px;
  margin-left: 2px;

}
